/* Reset some default styles */
body, h1, h2,p, ul, li {
    margin: 0;
    padding: 0 
}

/* Global Styles */
body {
  font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    background-repeat: no-repeat;
    background-size: cover;
    color:white;
    line-height: 1.6;
    background-color:sandybrown;
}

/* Header Styles */
header {
    background-color:black;
    color: #fff;
    padding: 1rem;
    margin-bottom: 80px;
}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo {
    font-size: 1.5rem;
    font-weight: bold;
}

.nav-links {
    list-style: none;
    display: flex;
}

.nav-links li {
    margin: 0 1rem;
}

.nav-links a {
    text-decoration: none;
    color: #fff;
}
section {
    margin-bottom: 40px;
    border-radius: 5px;
    max-width: 500px;
  }
  
  
/* Hero section styles */
#hero {  
  text-align: center;
    padding: 20px;
    margin-bottom: 20px;
  }

  #hero h1 {
    font-size: 36px;
    margin-bottom: 0px;
  }
  #wmp{
    margin-left: 100px;
  }
  #hero p {
    
    font-size: 18px;
    color:white;
    text-align:justify;
  }

  /* About section styles */
  #about {
    text-align: center;
  }

  #about p {
     
    font-size: 18px;
    line-height: 1.2;
    color:white;
  }
 

 /* Style for the button */
 .button-container{
    margin-left: 95px;
     
 }
 .hire-button {
    background-color: seagreen;
    border: none;
    color: white;
    padding: 5px 5px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 12px;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    
  }

  /* Styling when hovering over the button */
  .hire-button:hover {
    background-color: greenyellow;
  }
 

 
  .card{
    display: flex;
    margin: 5px;
    justify-content:space-around ;
  }
  .card-overlay {
    position: absolute;
    inset: 0;
    pointer-events: none;
     
  }
    
  .pcard-inner {

    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    flex: left;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    @media (max-width: 600px) {
      /* Styles for screens with a maximum width of 768px or less */
    }
    height: 400px;
    background-color:seagreen ;
    border-radius: 30px;
    /* Content style */
    font-size: 20px;
    font-weight: 500;
    color:white;
    text-align: center;
    font-family: monospace;
  }
  .image-container{
    max-width:300PX;
    height: 200px;
    margin-bottom: 200px;
     
  }
  .card-inner {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    flex: left;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    max-width: 150px;
    height: 350px;
    background-color:seagreen ;
    border-radius: 30px;
    /* Content style */
    font-size: 20px;
    font-weight: 500;
    color:white;
    text-align: center;
    font-family: monospace;
  }
  .card-inner{
    padding-top: 50px;
    margin-top: 50px;
  }

.img{
  height: 400;
  max-width: fit-content;
} 
.Scard-inner{
   @media (max-width: 600px) {
  /* Styles for screens with a maximum width of 768px or less */
}
    display: flex;
    justify-content:stretch;
    align-items:LEFT;
    overflow: hidden;
    height: 400px;
    background-color:seagreen;
    border-radius: 30px;
    /* Content style */
    font-size: 15px;
    font-weight: 500;
    color:white;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    margin-left: 120px;

}
.p1{
  text-align: center;
}
.Scard-inner{
  padding-top: 50px;
    margin-top: 50px;
}
 
 

#skills{
   justify-content: space-around;
 }
 
 #CVBTN{
  margin-top: 5px;
  margin-left:140px;
  background-color: seagreen;
  border: none;
  color: white;
  padding: 5px 5px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 12px;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
   
 }  
 #CVBTN:hover {
  background-color: greenyellow;
} 
.contact-form{
  background-color: seagreen;
  width: 500px;
}
.form-control{
  display: flex;
  flex-direction: column;
  gap: 10px;
  width: 100%;
  background-color: seagreen;
}
.form-inputs{
  display: flex;
  gap: 10px;
  width: 100%;
}
.input-field{
  width: 50%;
  height: 55px;
  background: white;
  border: 2px solid #AAA;
  border-radius: 10px;
  padding-inline: 20px;
  outline: none;
}
textarea{
  width: 100%;
  height: 250px;
  background: white;
  border: 2px solid #AAA;
  border-radius: 10px;
  padding: 15px 20px;
  outline: none;
  resize: none;
}
.form-button>.btn{
  display: flex;
  align-items: center;
  justify-content: center;
  background: var(--second-color);
  color: var(--color-white);
}
.form-button>.btn:hover{
  background: #00B5E7;
}
.form-button i{
  font-size: 18px;
  rotate: -45deg;
}

